.MxCurrencyExWrap {
	padding: 20px;
}
.MxCurrencyItem {
	width: 33%;
	display: inline-block;
	font-size: 14px;
	line-height: 12px;
}
.MxCurrencyItem strong {
	width: 50px;
    display: inline-block;
}
.MxCurrencyBlockColorItem,
.MxCurrencyBlockSizeItem,
.MxCurrencyBlockLangItem {
	display: inline-block;
	margin-right: 20px;
}
.MxCurrencyBlockLangItem span {
	margin-left: 6px;
}
.MxCurrencyBlockSizeItem span {
	margin-left: 6px;
}
.MxCurrencyBlockColorItem span {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 5px;
	margin-top: 4px;
	margin-right: 6px;
}
.CurrencyCodeSnippet textarea {
	width: 100%;
	max-width: 400px;
	height: 200px;
	max-height: 200px;
	font-size: 12px !important;
}
.MxCurrencyExWrap h4 {
    font-size: 20px !important;
}

@media only screen and (max-width: 992px) {
	.MxCurrencyItem {
		width: 50%;
	}
}
@media only screen and (max-width: 768px) {
	.MxCurrencyItem {
		width: 100%;
	}
}